:root {
    --appBackgroundColor: #ffffff;
    --primaryTextFontColor: #8241ff;
    --primaryTextFontSize: 16px;
    --secondaryTextFontSize: 14px;
    --primaryFontFamily: DM Sans;
    --secondaryTextColor: #b2b2b2;
  }
  